html{
    font-family: 'Rosario', sans-serif;
    font-size: 10px;
    --lite-white: #FFFCFC;
    --white: white;
    --black: black;
    --gray: #808080;
}
body{
    margin: 0;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*HEADER*/
.header__logo{
    width: 55px;
    height: 80px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav-item{
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    padding-left: 50px;
}
.header__nav-item a{
    color: var(--lite-white);
}

/*1page*/
.bg{
    background-image: url(../img/pexels-thgusstavo-santana-1813272\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

div.bg > div{
    text-align: center;
    color: var(--white);
    font-style: italic;
    font-weight: 700;
}
div.bg > div:nth-child(1){
    font-size: 3.8rem;;
    padding-top: 210px;
}
div.bg > div:nth-child(2){
    font-size: 9rem;
}
div.bg > div:nth-child(3){
    font-size: 3.8rem;
    text-transform: uppercase;
}
div.bg > div:nth-child(4){
    font-size: 5.2rem;
    padding-top: 95px;
}
div.bg > div:nth-child(5){
    font-size: 5.2rem;
    padding-bottom: 90px;
}

/*gallery*/
.gallery{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 4% 7% 1% 7%;
}
.gallery__center{
    margin: 0 2%;
}
.gallery__center-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5%;
}
.gallery__center-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.gallery__center > div img{
    width: 97%;
}
div.gallery__center > div{
    text-align: center;
}
div.gallery__left img{
    width: 100%;
}
div.gallery__right img{
    width: 100%;
}
div.gallery__left, div.gallery__right{
    text-align: center;
}

/*services*/
.services__bg{
    background-image: url(../img/PicsArt_05-08-11.15\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 10%;
}
div.services__bg > div:nth-child(1){
    color: var(--white);
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
/*input*/
.services__input{
    text-align: center;
}
div.services__input > div > input{
    width: 25%;
    font-size: 3rem;
    font-weight: 400;
    padding: 1% 2%;
}
.input__time-slot{
    text-align: center;
    width: 25%;
}
/*button*/
.button__booking{
    background-color: #A3530A;
    border: .3rem black solid;
    padding: 1% 2%;
    display: inline-block;
    margin: auto;
}
.button__booking a{
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;  
}
div.services__bg > div:nth-child(5){
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
/*button*/
.button__get{
    background-color: #A3530A;
    border: .2rem black solid;
    padding: 1% 1%;
    display: inline-block;
    position: absolute;
    left: 43%;
}
.button__get a{
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}
